/* 255, 255, 255 ---white
 215, 208, 213  ---light gray
0, 0, 0 --- black
255, 1, 251 --- pink
2, 169, 234 --- blue  */

@font-face {
  font-family: "cybrpnuk2";
  src: url(assets/polices/Cybrpnuk2.ttf);
}
@font-face {
  font-family: "futuristic";
  src: url(assets/polices/Futuristic\ Armour.otf);
}

.game {
  background-color: black;
  height: 750px;
  width: 900px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: Helvetica;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: 10px solid #FF0099 ;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(215, 208, 213);
  min-height: 100vh;
}

h1 {
  color: white;
  font-family: cybrpnuk2;
}

.button1 {
  align-self: flex-start;
}
button{
  background-color: rgb(7, 137, 189);
}
button:hover {
  background-color: rgb(255, 1, 251);
}
/*
.button2:hover {
  background-color: rgb(255, 1, 251);
}
.button3:hover {
  background-color: rgb(255, 1, 251);
}
.button4:hover {
  background-color: rgb(255, 1, 251);
}*/

img, video{
  max-width: 500px;
  max-height: 500px;
}

.caseCocher {
  background-color: rgb(2, 169, 234);
  position: absolute;
  top: 14%;
  right: 26%;
  padding: 0.5%;
  border: 3px solid #FF0099;
}

.caseCocher:hover {
  background-color: rgb(255, 1, 251);
}






body.fin {
  background-image: url(assets/img/data.JPG);
}


body.rendement {
  background-size: 700px;
  
  background-image: url("assets/img/luffy.JPG");
}

.rendement .game, .h1 {
  background: linear-gradient(to right, #F3F9A7 , yellow, #f64f59);
  color: black;
}

.fin .game {
  background-image: url(assets/img/data.JPG);
  background-size: cover;
  border: 10px solid #FF0099;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #FF0099;
}

.troisB {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.button{
  border: 2px solid #FF0099;
  margin-right: 10px;
  border-radius: 10px;
  color: white;
}
